<!doctype html>
{% capture css %}
  {% include "style.css" %}
  {% include "guide.css" %}
{% endcapture %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      {{ css | cssmin }}
    </style>
    {% include "interactive.md" %}
  </head>
  <body>
    <div class="g-toplevel">
      <div class="g-gutter-left">
      </div>
      <nav class="g-nav">
        <div class="g-nav-sticky">
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | removeDotHtml }}
        </div>
      </nav>
      <div class="g-gutter-right">
      </div>
      <main class="g-main">
        <article>
          <h1>{{ title }}</h1>
          <aside>
            {{ content | toc }}
          </aside>
          {{ content }}
        </article>
        {% assign flatNavItems = collections.all | eleventyNavigation | flattenNavigationAndAddNextPrev %}

        {% for item in flatNavItems %}
          {% if item.url == page.url %}
            <div class="guide-bottom-nav">
            {% if item.prev %}
              <a href="{{ item.prev.url | removeDotHtml }}" class="guide-bottom-link">
                тна {{ item.prev.title }}
              </a>
            {% else %}
              <span></span>
            {% endif %}

            {% if item.next %}
                <a href="{{ item.next.url | removeDotHtml }}" class="guide-bottom-link">
                  {{ item.next.title }} тнв
                </a>
            {% else %}
              <span></span>
            {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </main>
    </div>
  <script>
    {% include "hover.js" %}
  </script>
  </body>
</html>
