<!doctype html>
{% capture css %}
  {% include "style.css" %}
  {% include "guide.css" %}
{% endcapture %}
<!--
License information:
  https://tabler-icons.io/ (MIT, https://github.com/tabler/tabler-icons/blob/master/LICENSE)
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if plainTitle %}
      <title>ufbx - single source FBX loader</title>
    {% else %}
      <title>{{ title }} | ufbx</title>
    {% endif %}
    <style>
      {{ css | cssmin }}
    </style>
    {% include "interactive.md" %}
  </head>
  <body class="no-js">
    <div class="g-toplevel">
      <div class="g-gutter-left">
      </div>
      <div class="g-gutter-right">
      </div>
      {% include "nav.liquid" %}
      <main class="g-main">
        <article>
          {% if fbxWarning %}
            <div class="fbx-note">
              This page describes the internal behavior of the FBX format and is not recommended for most users of <em>ufbx</em>.
            </div>
          {% endif %}
          {% if noTitle %} {% else %}
            <h1>{{ title }}</h1>
          {% endif %}
          {{ content }}
        </article>
        {% assign flatNavItems = collections.all | eleventyNavigation | flattenNavigationAndAddNextPrev %}

        {% for item in flatNavItems %}
          {% if item.url == page.url %}
            <div class="guide-bottom-nav">
            {% if item.prev %}
              <a href="{{ item.prev.url | removeDotHtml }}" class="guide-bottom-link">
                тна {{ item.prev.title }}
              </a>
            {% else %}
              <span></span>
            {% endif %}

            {% if item.next %}
                <a href="{{ item.next.url | removeDotHtml }}" class="guide-bottom-link">
                  {{ item.next.title }} тнв
                </a>
            {% else %}
              <span></span>
            {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </main>
    </div>
  <script>
    document.body.classList.toggle("no-js", false)
    {% include "hover.js" %}
  </script>
  </body>
</html>
